<div class="hero">
	<br />

	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
		<br />
		<h1>spark your inspiration into application</h1>
		<br />
		<h2>what do you want to create?</h2>
		<br />
		<%= link_to 'learn more', courses_path, :class => 'btn btn-warning' %>
		<br /><br />
	</div>
</div>

<br />

<div class="col-xs-10 col-xs-offset-1 text-center">
	<% @features.each do |course| %>
		<div class="col-sm-4 frosty-features">
			<br />
			<h3 class="text-center"><%= link_to course.title, course_path(course) %></h3>
			<br />
			<%= image_tag course.image, :class => 'img-responsive image-center' %>
			<br />
			<div class="col-xs-12 text-center feat">
				<%= course.description %>
			</div>
			<div class="col-xs-12 text-center feat">
				<%= link_to 'find out more', course_path(course), :class => 'btn btn-warning btn-large' %>
			</div>
			<br />
		</div>
	<% end %>
</div>